* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

/* Nav Bar */
nav {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 0 48px;
 background-color: #fdf2e9;
 height: 15vh;
 width: 100vw;
}

nav div {
    display: flex;
}

nav div ul {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-right: 50px;
}

nav img {
    width: 163px;
}

.primary-btn {
    background-color: #e67e22;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 9px;
    font-size: 20px;
    font-weight: 500;
}

/* Hero Section */
main {
    height: 85vh;
    background-color: #fdf2e9;
    display: flex;
    width: 100vw;
    padding: 48px 110px;
}

.right-hero-section img {
    width: 564px;
}

.right-hero-section {
    width: 50%;
    align-items: center;
}

.left-hero-section {
    width: 50%;
    align-items: center;
}

